.cover-container {
  background-color: $dark-grey;
  padding: 10px 0 30px 0;
  margin-bottom: 20px;
}

a.dark-link {
  color: $primary-color;
}

a.dark-link:hover {
  color: $secondary-color;
}

.cover {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  align-items: center;
  max-width: $container-width;
  margin: 0 auto;
  padding: 10px;
}

.cover-title {
  color: #fff;
  flex-grow: 0;
  flex-shrink: 2;
  flex-basis: 500px;
  padding: 20px;
}

.cover-art {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 300px;
  img {
    width: 100%;
  }
}

.small-cover {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 150px;
  width: 100%;
  margin-top: 3px;
  margin-right: 20px;
}