nav {
  text-align: left;
  margin-top: 0px;
  background: $dark-grey;
  padding: 0;
}

nav ul {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none !important;
  margin: auto;
  padding: 10px 20px;
  max-width: 1000px; 
}

nav li {
  flex-grow: 0;
  margin: 0;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444', endColorstr='#333333',GradientType=0 ); }

nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding-right: 1em; 
}

nav a img {
  vertical-align: text-top;
}

nav a:hover {
  text-decoration: underline;
  color: #fff; 
}

@media (#{$bp-larger-than-tablet}) {
  nav li {
    flex-grow: 0;
  }

  nav a {
    padding-right: 0.8em; 
  } 
}
